
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>TinDog</title>
<!-- bootstrap links -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
  
  <!-- google fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;900&family=Ubuntu&display=swap" rel="stylesheet">

  <!-- css -->
  <link rel="stylesheet" href="css/styles.css">

  <!-- font awesome -->

  <script src="https://kit.fontawesome.com/4d476870c9.js" crossorigin="anonymous"></script>



</head>

<body class="body">


  <section id="title" class="coloured">
    <div class="cointainer-fluid">
    <!-- Nav Bar -->
      <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="index.ejs"> tindog </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

  <div class="collapse navbar-collapse"  id="navbarTogglerDemo01"> 

  <ul class="navbar-nav  ms-auto" >
    <li class="nav-item">
      <a class="nav-link" href="contact.ejs"> Contact </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="pricing.ejs">Pricing </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="dog-care.ejs"> Dog-care </a>
    </li>
  </ul>
  </div>
</nav>

    </div>
  </section>

  <section class="section gray-bg" id="blog">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7 text-center">
                <div class="section-title">
                    <h2>Care for your dogs!</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="blog-grid">
                    <div class="blog-img">
                        <a href="https://www.hillspet.com/dog-care/behavior-appearance/separation-anxiety-in-dogs">
                            <img src="images\anxious-dog.jpg" >
                        </a>
                    </div>
                    <div class="blog-info">
                        <h5><a href="https://www.hillspet.com/dog-care/behavior-appearance/separation-anxiety-in-dogs">Identifying & Preventing Separation Anxiety in Your Dog</a></h5>
                        <p>Some dogs get upset when their pet parents leave. After all, they generally don't like to be left alone or be apart from their best friend. How can you tell whether your pup is merely bummed you're running an errand or is suffering from something more serious? </p>
                        <div class="btn-bar">
                            <a href="https://www.hillspet.com/dog-care/behavior-appearance/separation-anxiety-in-dogs" class="px-btn-arrow">
                                <span>Read More</span>
                                <i class="arrow"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="blog-grid">
                    <div class="blog-img">
                        <a href="https://www.hillspet.com/dog-care/new-pet-parent/guide-to-raising-your-puppy">
                            <img src="images\puppy.webp">
                        </a>
                    </div>
                    <div class="blog-info">
                        <h5><a href="https://www.hillspet.com/dog-care/new-pet-parent/guide-to-raising-your-puppy">Raising a Puppy: What You Need to Know</a></h5>
                        <p>Puppies are beyond adorable, but let's face it — raising a puppy is fraught with challenges. If you've never had a puppy before, the task before you can seem quite daunting, and once those big puppy eyes capture your heart, there's no turning back.</p>
                        <div class="btn-bar">
                            <a href="https://www.hillspet.com/dog-care/new-pet-parent/guide-to-raising-your-puppy" class="px-btn-arrow">
                                <span>Read More</span>
                                <i class="arrow"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="blog-grid">
                    <div class="blog-img">
                        <a href="https://www.hillspet.com/dog-care/nutrition-feeding/is-xylitol-harmful-to-dogs">
                            <img src="images\xylitol.avif" >
                        </a>
                    </div>
                    <div class="blog-info">
                        <h5><a href="https://www.hillspet.com/dog-care/nutrition-feeding/is-xylitol-harmful-to-dogs">Xylitol and Dogs: A Harmful Combination</a></h5>
                        <p>While xylitol is safe for humans to consume, xylitol and dogs don't go together. Unfortunately, xylitol poisoning in dogs is common, and ingesting even a small amount can be harmful.Let's look at what to do should your furry friend accidentally consume it.</p>
                        <div class="btn-bar">
                            <a href="https://www.hillspet.com/dog-care/nutrition-feeding/is-xylitol-harmful-to-dogs" class="px-btn-arrow">
                                <span>Read More</span>
                                <i class="arrow"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>