<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>TinDog</title>
<!-- bootstrap links -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
  
  <!-- google fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;900&family=Ubuntu&display=swap" rel="stylesheet">

  <!-- css -->
  <link rel="stylesheet" href="css/styles.css">

  <!-- font awesome -->

  <script src="https://kit.fontawesome.com/4d476870c9.js" crossorigin="anonymous"></script>



</head>

<body class="body">


  <section id="title" class="coloured">
    <div class="cointainer-fluid">
    <!-- Nav Bar -->
      <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="index.ejs"> tindog </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

  <div class="collapse navbar-collapse"  id="navbarTogglerDemo01"> 

  <ul class="navbar-nav  ms-auto" >
    <li class="nav-item">
      <a class="nav-link" href="contact.ejs"> Contact </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="pricing.ejs">Pricing </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="dog-care.ejs"> Dog-care </a>
    </li>
  </ul>
  </div>
</nav>

</div>
</section>

<div class="demo10">
  <div class="container">
      <h4 class="py-4 text-center" style="color: #e85a5a; font-size: xx-large;">Pricing Table</h4>
      <div class="row">
          <div class="col-md-3 col-sm-6">
              <div class="pricingTable10">
                  <div class="pricingTable-header">
                      <h3 class="heading">Golden Retriever</h3>
                      <span class="price-value">
                          <span class="currency">$</span> 2500
                      </span>
                  </div>
                  <div class="pricing-content">
                      <ul>
                          <li>DARK GOLDEN</li>
                          <li>Easy to train</li>
                          <li>Unlimited matches</li>
                          <li>Unlimited messages</li>
                      </ul>
                      <a href="#" class="read">sign up</a>
                  </div>
              </div>
          </div>
          <div class="col-md-3 col-sm-6">
              <div class="pricingTable10">
                  <div class="pricingTable-header">
                      <h3 class="heading">Rottweiler</h3>
                      <span class="price-value">
                          <span class="currency">$</span> 1500
                      </span>
                  </div>
                  <div class="pricing-content">
                      <ul>
                        <li>DARK GOLDEN</li>
                        <li>Easy to train</li>
                        <li>Unlimited matches</li>
                        <li>Unlimited messages</li>
                      </ul>
                      <a href="#" class="read">Match</a>
                  </div>
              </div>
          </div>
          <div class="col-md-3 col-sm-6">
              <div class="pricingTable10">
                  <div class="pricingTable-header">
                      <h3 class="heading">Shih Tzu </h3>
                      <span class="price-value">
                          <span class="currency">$</span> 1200
                      </span>
                  </div>
                  <div class="pricing-content">
                      <ul>
                        <li>White</li>
                        <li>Lively and friendly</li>
                        <li>Unlimited matches</li>
                        <li>Unlimited messages</li>
                      </ul>
                      <a href="#" class="read">Match</a>
                  </div>
              </div>
          </div>
          <div class="col-md-3 col-sm-6">
              <div class="pricingTable10">
                  <div class="pricingTable-header">
                      <h3 class="heading">American Eskimo</h3>
                      <span class="price-value">
                          <span class="currency">$</span> 800
                      </span>
                  </div>
                  <div class="pricing-content">
                      <ul>
                        <li>White</li>
                        <li>Alert and friendly</li>
                        <li>Unlimited matches</li>
                        <li>Unlimited messages</li>
                      </ul>
                      <a href="#" class="read">Match</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

</body>
</html>